html, body {
    background:#000000;
    color:#ffffff;
    margin-bottom:50px;
    margin-left:25px;
    width: 100%;
    overflow-x: hidden;
/*    min-width:250px;*/
}

.sideBarContainer{
    margin-left:-1.5%;
    margin-bottom: 5%;
    width: 100%;
    float: left;
    min-width:auto;
}

#sidebar {
    display:block;
    vertical-align: top;
    float:left;
    width:100%;
    position:absolute;
}
ul {
    display: inline-block;
    list-style: none;
    width:100%;
    font-size:120%;
    margin-left:27%;
}

li {
    float: left;
    padding-right:10%;
}

a:link {
    /* Applies to all unvisited links */
    text-decoration:  none;
    font-weight:      bold;
    color:            #fff;
} 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            #fff;

  } 
a:hover   {
  /* Applies to links under the pointer */
  font-weight:      bold;
  color:            #ff9300;
  } 
a:active  {
  /* Applies to activated links */
  font-weight:      bold;
  color: white;
  }

li a {
  display: block;
  padding: 8px 16px;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.productWrapper {
    width: 80%;
    display: grid;
    grid-auto-rows: minmax(350px, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    color: #444;
    margin-left:8.5%;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  font-size: 120%;
}

#clr {
    clear:both;
}


footer{
    position:fixed;
    font-size: 60%;
    bottom:0;
    width=100%;
    margin-left:45%;
    margin-top:-10%;
}





.sidebar {
  height: 100%; /* 100% Full-height */
  width: 25px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #505050; /* Grey*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px; /* Place content 60px from the top */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidebar */
  font-family: 'Roboto', sans-serif;
  color: #e2e2e2;
  box-shadow: 0.1px 0 4px 0.2px #505050; /* Border right */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #464646;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #464646;
    color: white;
    padding: 10px 15px;
    border: none;
    transition:margin-left .5s;
    outline: none;    
    box-shadow: -6px 0 7px -5px #505050; 

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

@media screen and (max-width:1375px) {
    ul {
        margin-left: 22%;
    }
    
    .productWrapper {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 8.5%;
    }
}

@media screen and (max-width: 970px) {
    ul {
        list-style: none;
        margin-left:22.5%;
        font-size: 17px;
    }
    
    .productWrapper {
        margin-left:4%;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .sideBarContainer {
        margin-left:-12%;
        margin-bottom:8%;
    }
}

@media screen and (max-width:560px) {
    .productWrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-left:2%;
    }
    
    ul {
        font-size:14px;
        margin-left: 10.5%;
    }
    
    .sideBarContainer {
        margin-bottom:10%;
    }
}

@media screen and (max-width:560px) {
    .sideBarContainer {
        margin-left:-12%;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}





#slimSide {
    height:100%;
    width:25px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #464646; /* Grey */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    box-shadow: inset -0.2px 0 7px -0.2px #505050; 
/*    box-shadow: inset 4px 0px 7px -4px #505050;  Border right */

}

.search { 
    width: 100%;
    text-align: center;
    margin-left: -2.5%;
    margin-bottom:2.5%;
}

.search-bar {
    width: 60%;
    font-size:20px;
    text-align:;
}